<div class="row justify-content-end">
    <div class="col-lg-2 text-right">
        <select class="form-control btn-sm" id="exampleFormControlSelect1">
            <option (click)="verUsuario(true)">Desbloqueado</option>
            <option (click)="verUsuario(false)">Bloqueado</option>
        </select>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-warning btn-block" data-toggle="modal"
            data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-plus-square"></i> Crear</button>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Usuario</th>
                                <th>Rol</th>
                                <th>Estado</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuarios of listUsuario">
                                <td>{{usuarios.nombre.toLowerCase()}}</td>
                                <td>{{usuarios.usuario}}</td>
                                <td *ngIf="usuarios.rol === 'ADMIN_ROLE'">Administrador</td>
                                <td *ngIf="usuarios.rol === 'CHOFER_ROLE'">Chofer</td>
                                <td *ngIf="usuarios.estado === true" class="text-center"><a class=""><i
                                            class="fas fa-lock-open text-primary"></i></a></td>
                                <td *ngIf="usuarios.estado === false" class="text-center"><a><i
                                            class="fas fa-lock"></i></a></td>
                                <td class="text-nowrap text-center">
                                    <a data-toggle="tooltip" data-original-title="Edit" class="btnAction" data-toggle="modal"
                                    data-target="#exampleModal" data-whatever="@mdo"
                                        (click)="editarUsuario(usuarios._id)"> <i
                                            class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a data-toggle="tooltip" data-original-title="Close" class="btnAction" *ngIf="usuarios.estado"
                                        (click)="borrarUsuario(usuarios._id, false)"> <i class="fas fa-lock text-danger"></i>
                                    </a>
                                    <a data-toggle="tooltip" data-original-title="Close" class="btnAction" *ngIf="!usuarios.estado"
                                        (click)="borrarUsuario(usuarios._id, true)"> <i class="fas fa-lock-open text-danger"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{titulo}} usuarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  [formGroup]="usuarioForm">
                    <div class="form-group">
                        <label for="recipient-nombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="recipient-name" formControlName="nombre" >
                    </div>
                    <div class="form-group">
                        <label for="recipient-usuario" class="col-form-label">Usuario:</label>
                        <input type="text" class="form-control" id="recipient-name" formControlName="usuario">
                    </div>
                    <div class="form-group">
                        <label for="recipient-password" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="recipient-name" formControlName="password">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Seleccionar Rol</label>
                        <select class="form-control" id="exampleFormControlSelect1" formControlName="rol">
                            <option *ngFor="let roles of listRoles" value="{{roles.role}}">{{roles.role === 'ADMIN_ROLE' ? 'Administrador' : 'Chofer'}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Close</button>
                <button type="submit" class="btn btn-primary" (click)="crearEditarUsuario()" [disabled]="usuarioForm.invalid" >{{titulo}} usuario</button>
            </div>
        </div>
    </div>
</div>