<div class="row justify-content-end">
    <div class="col-lg-2 text-right">
        <select class="form-control btn-sm" id="exampleFormControlSelect1" (change)="ShowSelected($event)">
            <option value="1">Desbloqueado</option>
            <option value="2">Bloqueado</option>
        </select>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal"
            data-whatever="@mdo"><i class="fa fa-plus-square"></i> Crear</button>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Fecha</th>
                                <th>Registrado por</th>
                                <th>Estado</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let anuncio of listAnuncio | paginate: { itemsPerPage: 10, currentPage: pageActual }">
                                <td>{{anuncio.descripcion.toLowerCase()}}</td>
                                <td>{{anuncio.fecha}}</td>
                                <td>{{anuncio.usuario.nombre.toLowerCase()}}</td>
                                <td *ngIf="anuncio.estado === true" class="text-center"><a class=""><i
                                            class="fas fa-lock-open text-primary"></i></a></td>
                                <td *ngIf="anuncio.estado === false" class="text-center"><a><i
                                            class="fas fa-lock"></i></a></td>
                                <td class="text-nowrap text-center">
                                    <a data-toggle="tooltip" data-original-title="Edit" class="btnAction"
                                        data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"
                                        (click)="editarVehiculo(anuncio._id)"> <i
                                            class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a data-toggle="tooltip" data-original-title="Close" class="btnAction"
                                        *ngIf="anuncio.estado" (click)="borrarVehiculo(anuncio._id, false)"> <i
                                            class="fas fa-lock text-danger"></i>
                                    </a>
                                    <a data-toggle="tooltip" data-original-title="Close" class="btnAction"
                                        *ngIf="!anuncio.estado" (click)="borrarVehiculo(anuncio._id, true)"> <i
                                            class="fas fa-lock-open text-danger"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="listAnuncio.length > 10">
                        <pagination-controls (pageChange)="pageActual = $event" ></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{titulo}} Anuncio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="anuncioForm">
                    <div class="form-group">
                        <label for="recipient-marca" class="col-form-label">Descripcion:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="descripcion"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Close</button>
                <button type="submit" class="btn btn-primary" (click)="crearEditarVehiculo()"
                    [disabled]="anuncioForm.invalid">{{titulo}} Anuncio</button>
            </div>
        </div>
    </div>
</div>