<div class="row justify-content-end">
    <div class="col-lg-9 text-right">
        <!-- ============================================================== -->
        <!-- Search -->
        <!-- ============================================================== -->
        <div class="input-group">
            <input type="text" class="form-control" placeholder="buscar..." (keyup)="onKeypressEvent($event)">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button"><i class="mdi mdi-account-search"></i></button>
            </span>
        </div>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-warning btn-block" (click)="crearReporte()"><i class="fa fa-file-pdf"></i>
            Crear Reporte</button>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive" id="htmlData">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Dni</th>
                                <th>Tipo</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let clientes of listCliente | paginate: { itemsPerPage: 10, currentPage: pageActual }">
                                <td>{{clientes.nombre.toLowerCase()}}</td>
                                <td>{{clientes.dni}}</td>
                                <td>{{clientes.tipo}}</td>
                                <td *ngIf="clientes.estado === true" class="text-center"><a class=""><i
                                            class="fas fa-lock-open text-primary"></i></a></td>
                                <td *ngIf="clientes.estado === false" class="text-center"><a><i
                                            class="fas fa-lock"></i></a></td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="listCliente.length > 10">
                        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>