<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class=" waves-effect waves-dark" aria-expanded="false"><img
                            src="./assets/images/perfil-usuario.png" alt="user" /><span class="hide-menu">
                            {{nombre.toLowerCase()}}
                        </span></a>
                    <ul aria-expanded="false" class="collapse">
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="" aria-expanded="false"><i
                            class="mdi mdi-apps"></i><span class="hide-menu">Dashboard </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/dashboard']" href="" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Mostrar Dashboard </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i
                            class="mdi mdi-map-marker-multiple"></i><span class="hide-menu">Ubicacion </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/dashboard/ubicacion']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Mostrar Ubicacion </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-account-card-details"></i><span class="hide-menu">Usuarios </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/dashboard/usuarios']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Mostrar Usuarios</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-account-multiple-plus"></i><span class="hide-menu">Cliente </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/dashboard/clientes']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Mostrar Clientes</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Multas </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/dashboard/multas']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Mostrar Multas</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Vehiculos </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/dashboard/vehiculos']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Mostrar Vehiculos</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-car-wash"></i><span class="hide-menu">Conduccion </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/dashboard/conduccion']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Mostrar Conduccion</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-comment-multiple-outline"></i><span class="hide-menu">Comunicados </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/dashboard/mensajes']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Mostrar Mensajes</a></li>
                        <li><a [routerLink]="['/dashboard/anuncios']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Mostrar Anuncio</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->